@{
    ViewData["Title"] = "Reports";
}

<h2>Reports</h2>

<div>
    <a class="btn btn-primary" asp-controller="Reports" asp-action="ProductReport">Product Report</a>
    <a class="btn btn-primary" asp-controller="Reports" asp-action="PromotionReport">Promotion Report</a>
</div>